<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.seckill.mapper.SysUserMapper">
    <select id="selectByTel" resultType="Integer">
        SELECT COUNT(*)
        FROM sys_user
        WHERE tel = #{tel}
          and is_delete = 0
    </select>
    <select id="selectAllByTel" resultType="com.yt.seckill.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE tel = #{tel}
          and is_delete = 0 LIMIT 1
    </select>
    <select id="getUserPower" resultType="java.util.HashMap" parameterType="String">
        SELECT user.user_id ,user.tel,role.roleName,role.roleId,per.permissionsName ,per.perId,per.perRemarks
        FROM sys_user AS user,
			 sys_role AS role,
			 sys_permissions AS per,
			 rel_role_permiss,
			 rel_user_role
        WHERE user.user_id=#{userId}
          AND user.user_id=rel_user_role.userId
          AND rel_user_role.roleId=role.roleId
          AND rel_role_permiss.roleId=role.roleId
          AND rel_role_permiss.perId=per.perId
    </select>
</mapper>
