<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.seckill.mapper.TGoodsMapper">
    <select id="checktime" resultType="Integer">
        SELECT
        COUNT(goods_name)
        FROM
        t_goods
        WHERE
        goods_start <![CDATA[<= ]]> #{time} AND goods_end <![CDATA[>= ]]>  #{time}
          AND data_id =  #{dataId}  AND is_delete = 0
    </select>
</mapper>
